<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">




<title>Almacenes</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>
	<div class="table-responsive">

		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Transacción exitosa !</h4>
			<p>Este producto ha sido correctamente ingresado al stock de venta!</p>
			<hr>
			<p>
			  <a class="btn btn-warning btn-xs mx-1"
						th:href="@{/}" >Regresar</a></p>
						
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Bootstrap JS -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>


</body>
</html>