<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">


<style>
body {
	background-image: url('/images/fondo.jpg');
	background-reapeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
</style>


<title>Almacenes</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom styles for this template -->
<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}"
	rel="stylesheet">
</head>

<body>
	<div class="container">
	<h1 align="center">
			<strong>LISTADO DE ALMACENES</strong>
		</h1>
		<div class="row">
		
		<ul class="nav nav-tabs w-30">
				<li class="nav-item"><a class="btn btn-secondary btn-lg mr-3"
					aria-current="page" href="#"><strong>HOME</strong></a></li>
				<li class="nav-item"><a class="btn btn-secondary btn-lg"th:href="@{/roturaStock}"><strong>Rotura en stock</strong></a></li>
				
			</ul>
		</div>
		<div class="row">
		<br>
		
		<div class="table-responsive">
		<table class="table">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Ubicacion</th>
					<th scope="col">Historial de Almacen</th>
					<th scope="col">Adquirir producto</th>
				</tr>
			</thead>
			<tbody th:each="almacen:${almacenes}"
				class="table-borderless border-light">
				<tr class="table-secondary">
					<th scope="row" th:text=*{almacen.id} />
					<td th:text=*{almacen.nombre} />
					<td th:text=*{almacen.ubicacion} />

					<td>
						<div class="btn-group" role="group"
							aria-label="Basic mixed styles example">
							<a class="btn btn-danger btn-xs mx-1"
								th:href="@{/listarProducto(id=${almacen.id})}">Productos</a> <a
								class="btn btn-warning btn-xs mx-1"
								th:href="@{/obtenerVentas(idAlmacen=${almacen.id})}">Ventas
								realizadas</a>

						</div>
					</td>
					<td><a class="btn btn-success btn-xs mx-1"
						th:href="@{/adquirirProducto(almacen_id=${almacen.id})}">Adquirir</a>
					</td>

				</tr>
			</tbody>


		</table>


	</div>

		
		
		</div>
	</div>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Bootstrap JS -->
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>


</body>
</html>